body {
    margin: auto;
    padding: 0;
    background-image: url('../assets/background.jpg'); 
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif; /* Example font-family */
  }

  h1{
    color: #C7B9EC;
  
  }

.container {
    max-width: 500px;
    margin: 50px 0px 40px 680px;
    padding: 80px;
    text-align: center;
    background-color: rgba(50,1,47, 0.9);
    backface-visibility: transparent;
    background-size: cover;
    border-radius: 20px; 
  }
  
  /* The rest of your styles remain unchanged */
  .task-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .task-input input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .task-input button {
    padding: 10px 20px;
    border: none;
    background-color: #A8DF8E;
    color: #401341;
    font-size: 16px;
    font-weight: semibold;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .task-list {
    list-style: none;
    padding: 0;
  }
  
  .task-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #C7B9EC;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .task-item.completed span {
    text-decoration: line-through;
  }
  
  .task-actions button {
    margin-left: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .edit-button {
    background-color: #535C91; /* Blue color */
    color: white;
  }
  
  .delete-button {
    background-color: #dc3545; /* Red color */
    color: white;
  }
  .task-completed {
    color: gray;
    text-decoration: line-through;
  }
  
  .task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .task-input {
    margin-bottom: 20px;
  }
  
  .task-actions button {
    margin-left: 10px;
  }
  