/* Navbar.css */
.navbar {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    padding: 10px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo-img {
    height: 50px;
    width: auto;
  }
  
  .navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    margin-left: 20px;
  }
  
  .navbar-link {
    color: #f87171; /* Tailwind CSS red-400 color */
    font-weight: 600;
    font-size: 1.125rem;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navbar-link:hover {
    color: #f87171; /* Tailwind CSS red-400 color */
  }
  
  .navbar-search {
    border: 2px solid #a3a3a3; /* Tailwind CSS dark-subtle color */
    border-radius: 10px;
    padding: 5px;
    font-size: 1.125rem;
    background-color: transparent;
    color: white;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .navbar-search:focus {
    border-color: white;
  }
  
  .navbar-button {
    background-color: transparent;
    border: none;
    color: #f87171; /* Tailwind CSS red-400 color */
    font-weight: 600;
    font-size: 1.125rem;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .navbar-button:hover {
    color: #f87171; /* Tailwind CSS red-400 color */
  }
  